*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}

.header{
    height: 50px;
    background-color: #ff0000;
}

.slider{
    flex: 1;
    background-color: #0f0;
    overflow: hidden;
}

.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}



.slider--controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}








